
<h1>About Us</h1>
<p>Voss property group is your best bet in Dallas living.  We offer a variety of rental units in communities in Dallas' most up and coming neighborhoods.  We were founded by our owner Mitchell Voss in 2014 with the purchase of our first triplex.  Mitch has a rich history in the investment industry working for various firms over the past 8 years and focusing on mortgage backed securities and commercial real estate before taking steps on his own into multi-family real estate investment and management.</p>
